 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
/* 
OVERALL STYLES
  _____________________________________________________
   */
  /* Style for HEADER and NAV as GRID */ 

  
  h3 {
    padding-left: 20px; 
    padding-bottom: 20px; 
    padding-top: 30px; 
    text-align: left; 
  }
  .grid-container {
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: auto; 
    grid-template-areas: 
    "header"
    "nav"
    "main"
  }
/* ---------------------HEADER---------------------------- */
  .header {
    grid-area: header;
    display: grid;
    font-family: 'Roboto', sans-serif;
    height: 100px; 
    background-color: rgb(66, 103, 178);
    opacity: 100%;
    color: white; 
    grid-template-columns: 33% 20% 4% 14% 30%;
    grid-template-rows: auto; 
  }
  .webapp {
    padding-top: 50px; 
    padding-left: 10px; 
    font-size: 10px; 
  }
 
  .bell-icon {
    padding-top: 45px; 
    padding-left: 10px; 
  }
    .first-face img {
    border-radius: 50%; 
    border: black; 
    height: 40px;
    width: 40px; 
    margin-top: 40px; 
  }
  .line {
    background-color: white;  
    width: 1px; 
    margin-top: 30px; 
    opacity: 60%; 
    height: 50px; 
    padding-top: 40px;
  }
  .student-name{
    font-size: 8px; 
     padding-top: 55px; 
     padding-right: 20px; 
    
  }

  /* ________________________________NAV_____________________________  */
  
  .nav {
    grid-area: nav;
    height: 100px; 
    display: grid;
    padding: 35px;  
    background-color: midnightblue;
    opacity: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto; 
  }

  .bell-icon,
  .home-icon,
  .bar-icon,
  .members-icon,
  .settings-icon {
    fill: white; 
    
  }

  /* ___________________________MAIN_____________ */

  .main {
    grid-area: main;
    font-family: 'Roboto', sans-serif;
  }
/* ___________________________Dashboard and Search_____________ */
  
.dashboard-and-search {
  display: grid; 
  grid-template-columns: 20% 80%;
  grid-template-rows: 60px; 
}
.dashboard-text {
  padding-top: 15px;
  padding-left: 20px; 
}

.search {
  padding-left: 80px; 
}
.search-placeholder {
  height: 40px; 
  width: 100%; 
  padding-left: 50px; 
  padding-top: 20px; 
  padding-bottom: 35px; 
  background-color: #e0e0e0;
  font-size: 20px; 
  border: lightgray; 
}
/* ___________________________Alert_____________ */

.alert {
  display: grid; 
  grid-template-columns: 80% 20%; 
  grid-template-rows: 7px; 
  padding: 8px 15px 24px; 
  width: 90%; 
  background-color: rgb(66, 103, 178);
  color: white; 
  text-align: left; 
  font-size: 14px; 
  margin-left: 20px; 
  border-radius: 12px; 
  opacity: 70%; 
}
.p {
  text-align: right; 
}


/* _______________TrafficHeadings   traffic-nav_____________ */

.traffic-nav {
  display: grid; 
  grid-template-columns: 31% 23% 23% 23%; 
  grid-template-rows: 40px; 
  list-style-type: none; 
} 
.traffic-nav li {
  padding-top: 8px; 
  text-align: center; 
  font-weight: bold;
}
.traffic-nav-hourly {
  margin-left: 20px; 
  border: solid 1px #0ac50a9c; 
    background-color: #0ac50a9c; 
  opacity: 85%; 
  color: white; 
  border-radius: 24px; 
 
}

/*
Traffic Line Graph
   */

   
.wrapperBar,
.wrapperDoughnut,
.wrapperLine {
    padding-top: 40px; 
    padding-bottom: 10px; 
    max-width: 300px;
    margin: 0 auto;
}

    

   
/* _______________Social Stats_____________ */

.facebook,
.instagram,
.twitter {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    border: 1px solid rgb(0, 139, 127); 
    padding: 30px;
    background-color: rgb(244, 249, 252);
    margin: 12px; 
    padding-right: 72px; 
}
.social-text h4{
  color:  rgb(104, 129, 238);
  font-size: 20px;
}
.social-text p {
  font-size: 40px;
}

.social-image {
  border-radius: 50%;
  height: 80px;
  width: 80px; 
  background-color:  rgb(66, 103, 178);
  padding-left: 18px; 
  padding-top: 18px;
}
#instagram, 
#facebook,
#twitter {
  fill:white; 
  translateX: 300px; 
}

/* _______________newMembers and RecentActivity____________ */

.newMembersAndRecentActivity {
  display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: auto;
  text-align: center; 
}


.memPhoto,
.memberText {
  justify-content: center; 
}
.memberPhoto {
  border-radius: 50%; 
  width: 60px; 
  height: 60px; 
}

.mem {
  padding-bottom: 20px; 
  padding-top: 20px; 
}

a {
  text-decoration: none; 
}

/* ______________________messageUserSettingsForm_____ */

.messageUserSettingsForm {
  display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: auto; 
}

.searchForUser,
.messageForUser,
.send {
  width: 90%; 
  margin-left: 20px; 
  margin-bottom: 30px; 
  padding-left: 20px; 
  border: 1px solid gray; 
}
.searchForUser {
  background-color: #e0e0e0; 
  opacity: 50%; 
}
.searchForUser,
.send {
  height: 40px; 
}
.messageForUser {
  height: 100px; 
  background-color: #e0e0e0; 
  opacity: 50%; 
  padding-bottom: 50px; 
}
.send {
  background-color: rgb(66, 103, 178);
  color: white; 
}

.messageForUser::placeholder {
  color: black; 
}

/* _________SETTINGS and TOGGLE BUTTONS_____ */


.toggleOnOff {
  display: grid;
  grid-template-columns: 75% 25%; 
  gridtemplate-rows: 50% 50%;
  gap: 30px; 
  width: 60%; 
}

.off {
  padding-left: 25px; 
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 20px;
  color: #fff; 
  width: 120px;
  height: 60px;
  background-color: rgb(104, 129, 238);
  border-radius: 60px;
  border: 2px solid grey; 
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 61px;
  bottom: 1px;
  content: "OFF";
  padding-top: 20px; 
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color:  rgb(104, 129, 238);
  border-radius: 60px;
  transition: background 0.4s;
  padding-left: 10px; 
}
input.cmn-toggle-round + label:after {
  width: 53px;
  height: 28px; 
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
  border: 2px solid grey; 
}
input.cmn-toggle-round:checked + label:before {
  background-color: rgb(104, 129, 238);
}
input.cmn-toggle-round:checked + label:after {
  margin-left: -60px;
}

.toggleOnOff {
  padding-left: 20px; 
}

/* _________SELECT_____ */

select {
width: 90%; 
margin-left: 20px; 
margin-top: 30px; 
height: 50px; 
background-color: #e0e0e0; 
padding-right: 30px; 
padding-left: 20px; 
}


.settings-button {
  display: grid; 
  grid-template-columns: 40% 40%;
  grid-template-rows: auto; 
  gap: 20px; 
  padding-top: 30px; 
  padding-bottom: 30px; 

}

.button-primary,
.button-disabled {
  height: 50px; 
  width: 140px; 
  margin-left: 20px; 
  border-radius: 8px; 
  color: #fff; 
}

.button-primary {
  background-color:rgb(104, 129, 238);
}

.button-disabled {
  background-color:  grey;
}

/* _______________MEDIA QUERIES___________ */

@media only screen and (min-width: 321px) and (max-width: 768px) {
  .grid-container {
    display: grid; 
    grid-template-columns: 15% 85%;
    grid-template-areas: 
    "header header"
    "nav main"
  }

  .header {
    grid-area: header;
    display: grid;
    height: 100px; 
    background-color: rgb(66, 103, 178);
    opacity: 100%;
    color: white; 
    grid-template-columns: 70% 14% 7% 9%;
    grid-template-rows: auto; 
  }
  .nav {
    grid-area: nav;
    display: grid;
    height: 100%; 
    background-color: midnightblue;
    opacity: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 3% 3% 3% 91%; 
  }
.line-icon {
  padding-left: 40px; 
}

.home-icon,
.bar-icon,
.members-icon,
.settings-icon {
  transform: translateX(-40px); 
}

.first-traffic-chart {
  display: grid; 
  grid-template-columns: 40% 60%; 
}
.traffic-nav {
  padding-top: 22px; 
} 

.trafficAndMobile {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 30px; 
}
.wrapperBar,
.wrapperDoughnut {
  border: 1px solid grey;
}

.social-container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 2px; 
    padding-left: 15px; 
}

.facebook,
.instagram,
.twitter {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    
    padding: 0px;
   
    margin:0; 
    padding-right: 0; 
}
.social-text p,
.social-text h4 {
  font-size:14px;
  padding-top: 8px; 
}
.social-image {
  height: 60px; 
  width: 62px; 
  padding-left: 5px;
  padding-top: 23px;
  margin-left: 12px; 
  margin-right: 10px; 
}
#instagram, 
#facebook,
#twitter {
  transform: translateY(-15px); 
  padding-left: 10px; 
  
}
}

}