 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* 
OVERALL STYLES
  _____________________________________________________
   */
  /* Style for HEADER and NAV as GRID */ 

  
  h3 {
    padding-left: 34px; 
    padding-bottom: 20px; 
    padding-top: 30px; 
    text-align: left; 
  }

  .grid-container {
    display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: auto; 
    grid-template-areas: 
    "header"
    "nav"
    "main";
  }
/* ---------------------HEADER---------------------------- */
  .header {
    grid-area: header;
    display: grid; 
    font-family: 'Roboto', sans-serif;
    height: 100px; 
    background-color: rgb(66, 103, 178);
    opacity: 100%;
    color: white; 
    grid-template-columns:  18% 10% 24% 3% 16% 20% 2%;
    grid-template-rows: auto;  
  }
  .webapp {
    padding-top: 50px; 
    padding-left: 2px; 
    font-size: 8px; 
  }
  
 .circle {
   border-radius: 50%;
   background-color: greenyellow; 
   height: 10px; 
   width: 10px; 
   margin-top: 35px; 
   margin-left: 70px; 
 }

  .bell-icon {
    padding-top: 45px; 
    padding-left: 2px; 
  }

  .bell:hover {
    transform: rotate(90deg);
    fill: red; 
  }

  .bell {
    transition: transform .5s ease-out; 
  }

  .choose {
    display: none; 
  }

    .first-face img {
      border-radius: 50%; 
      border: black; 
      height: 40px;
      width: 40px; 
      margin-top: 40px; 
      transition: transform 2s; 
  }

  .first-face img:hover {
    transform: rotate(90deg);
  }
  .line {
    background-color: white;  
    width: 1px; 
    margin-top: 30px; 
    margin-left: 135px; 
    opacity: 60%; 
    height: 50px; 
    padding-top: 40px;
  }
  .student-name{
    font-size: 10px; 
     padding-top: 55px;
     padding-left: 20px; 
     width: 100%; 
  }

  /* ________________________________NAV_____________________________  */
  
  .nav {
    grid-area: nav;
    height: 100px; 
    display: grid;
    padding-left: 45px;  
    background-color: midnightblue;
    opacity: 80%;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto; 
  }

  .bell-icon,
  .home-icon,
  .bar-icon,
  .members-icon,
  .settings-icon {
    fill: white; 
    padding-top: 45px; 
  }

  /* ___________________________MAIN_____________ */

  .main {
    grid-area: main;
    font-family: 'Roboto', sans-serif;
  }
/* ___________________________Dashboard and Search_____________ */
  
.dashboard-and-search {
  display: grid; 
  grid-template-columns: 20% 80%;
  grid-template-rows: 60px; 
}
.dashboard-text {
  padding-top: 15px;
  padding-left: 20px; 
}

.search {
  padding-left: 80px; 
}

.search-placeholder {
  height: 40px; 
  width: 99%; 
  padding-left: 50px; 
  padding-top: 20px; 
  padding-bottom: 35px; 
  background-color: #e0e0e0;
  font-size: 20px; 
  border: lightgray; 
}
/* ___________________________Alert_____________ */

.alert {
  display: grid; 
  grid-template-columns: 80% 20%; 
  grid-template-rows: 17px; 
  padding: 17px 15px 24px; 
  width: 90%; 
  background-color: rgb(66, 103, 178);
  color: white; 
  text-align: left; 
  font-size: 14px; 
  margin-left: 20px; 
  border-radius: 12px; 
  opacity: 70%; 
}

.p {
  text-align: right; 
}


/* _______________TrafficHeadings   traffic-nav_____________ */

.traffic-nav {
  display: grid; 
  grid-template-columns: 31% 23% 23% 23%; 
  grid-template-rows: 40px; 
  list-style-type: none; 
} 

.decoration {
  background-color: rgba(10, 197, 10, 0.61);
  border: 1px solid rgba(10, 197, 10, 0.61);
  opacity: 0.85;
  color: white;
  border-radius: 24px;
}

.traffic-nav li {
  padding-top: 8px; 
  text-align: center; 
  font-weight: bold;
}

.wrapperLine {
  display: grid; 
  grid-template-columns: 100%; 
  align-items: center; 
}

.traffic-nav-hourly {
  margin-left: 20px; 
}
 
.wrapperBar,
.wrapperDoughnut,
.wrapperLine {
    padding-left: 20px; 
    padding-bottom: 10px; 
    max-width: 300px;
    margin: 0 auto;
}

.wrapperLine {
  padding-left: 10px; 
  padding-top: 18px; 
}
    

   
/* _______________Social Stats_____________ */

.facebook,
.instagram,
.twitter {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    border: 1px solid rgb(0, 139, 127); 
    padding: 30px;
    background-color: rgb(244, 249, 252);
    margin: 12px; 
    padding-right: 72px; 
}

.social-text h4{
  color:  rgb(104, 129, 238);
  font-size: 20px;
  padding-left: 30px; 
}

.social-text p {
  font-size: 28px;
  padding-left: 29px;
}

.social-image {
  border-radius: 50%;
  height: 80px;
  width: 80px; 
  background-color:  rgb(66, 103, 178);
  padding-left: 18px; 
  padding-top: 18px;
}

#instagram, 
#facebook,
#twitter {
  fill:white; 
   transform: translateX(300px);  
}

/* _______________newMembers and RecentActivity____________ */



.newMembersAndRecentActivityOne {
  display: grid; 
  grid-template-columns: 100%; 
  text-align: center; 
  grid-template-areas:
  "newMembers"
  "victoriaOne"
  "daleOne"
  "dawnOne"
  "danOne"
}

.newMembersAndRecentActivityTwo {
  display: grid; 
  grid-template-columns: 100%; 
  text-align: center; 
  grid-template-areas:
  "recentActivity"
  "victoriaTwo"
  "daleTwo"
  "dawnTwo"
  "danTwo"
}

.newMembers {
  grid-area: newMembers; 
}

.recentActivity {
  grid-area: recentActivity;
}

.victoriaOne {
  grid-area: victoriaOne; 
}

.victoriaTwo {
  grid-area: victoriaTwo; 
}

.daleOne {
  grid-area: daleOne;
}

.daleTwo {
  grid-area: daleTwo;
}

.dawnOne {
  grid-area: dawnOne;
}

.dawnTwo {
  grid-area: dawnTwo;
}

.danOne {
  grid-area: danOne;
}

.danTwo {
  grid-area: danTwo; 
} 

.memPhoto,
.memberText {
  justify-content: center; 
  padding-right: 5px; 
}

.memberPhoto {
  border-radius: 50%; 
  width: 60px; 
  height: 60px; 
}

.mem {
  padding-bottom: 20px; 
  padding-top: 20px; 
  border-bottom: 1px solid lightgray;
}

a {
  text-decoration: none; 
}

/* ______________________messageUserSettingsForm_____ */

.messageUserSettingsForm {
  display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: auto; 
}

.searchForUser,
.messageForUser,
.send {
  width: 90%; 
  margin-left: 20px; 
  margin-bottom: 30px; 
  padding-left: 20px; 
  border: 1px solid gray; 
}

.searchForUser {
  background-color: #e0e0e0; 
  opacity: 50%; 
}

.searchForUser,
.send {
  height: 40px; 
}

.messageForUser {
  height: 100px; 
  background-color: #e0e0e0; 
  opacity: 50%; 
  padding-bottom: 50px; 
}

.send {
  background-color: rgb(66, 103, 178);
  color: white; 
}

.messageForUser::placeholder {
  color: black; 
}

/* _________SETTINGS and TOGGLE BUTTONS_____ */


.toggleOnOff {
  display: grid;
  grid-template-columns: 75% 25%; 
  grid-template-rows: 50px 50px;
  gap: 15px; 
  width: 60%; 
  padding-left: 20px; 
}

.off {
  padding-left: 25px; 
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 20px;
  color: #fff; 
  width: 120px;
  height: 60px;
  background-color: rgb(104, 129, 238);
  border-radius: 60px;
  border: 2px solid grey; 
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 61px;
  bottom: 1px;
  content: "OFF";
  padding-top: 20px; 
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color:  rgb(104, 129, 238);
  border-radius: 60px;
  transition: background 0.4s;
  padding-left: 10px; 
}

input.cmn-toggle-round + label:after {
  width: 53px;
  height: 28px; 
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
  border: 2px solid grey; 
}

input.cmn-toggle-round:checked + label:before {
  background-color: rgb(104, 129, 238);
}

input.cmn-toggle-round:checked + label:after {
  margin-left: -60px;
}


/* _________SELECT_____ */

select {
width: 90%; 
margin-left: 20px; 
margin-top: 30px; 
height: 50px; 
background-color: #e0e0e0; 
padding-right: 30px; 
padding-left: 20px; 
}

.settings-button {
  display: grid; 
  grid-template-columns: 40% 40%;
  grid-template-rows: auto; 
  gap: 30px; 
  padding-top: 30px; 
  padding-bottom: 30px; 

}

.button-primary,
.button-disabled {
  height: 50px; 
  width: 140px; 
  margin-left: 20px; 
  border-radius: 8px; 
  color: #fff; 
}

.button-primary {
  background-color:rgb(104, 129, 238);
}

.button-disabled {
  background-color:  grey;
}

/* _______________MEDIA QUERIES___________ */

/* _______________for 768px___________ */

@media only screen and (min-width: 321px){
  .grid-container {
    display: grid; 
    grid-template-columns: 18% auto;
    grid-template-areas: 
    "header header"
    "nav main"
  }

  .header {
    grid-area: header;
    display: grid;
    height: 100px; 
    background-color: rgb(66, 103, 178);
    opacity: 100%;
    color: white; 
    grid-template-columns:  11% 10% 19% 21% 13% 12% 10%;
    grid-template-rows: auto; 
    padding-right: 15px; 
  }
  .circle {
    margin-left: 107px; 
  }

  .webapp {
    padding-left: 10px; 
  }
  .nav {
    grid-area: nav;
    display: grid;
    height: 100%; 
    background-color: midnightblue;
    opacity: 80%;
    grid-template-columns: 100%;
    grid-template-rows: 5% 5% 5% 95%; 
  }

.line-icon {
  padding-left: 258px; 
}

.home-icon,
.bar-icon,
.members-icon,
.settings-icon {
  transform: translateX(-40px); 
}

.search-placeholder {
  margin-left: 7px; 
  width: 99%; 
}

.first-traffic-chart {
  width: 100%;
  height: 200px; 
  padding-bottom: 270px; 
}



.traffic-nav {
  padding-top: 22px; 
  display: grid; 
  grid-template-columns: 38% 24% 28% 25%; 
  row-gap: 80px; 
  grid-template-rows: 40px; 
  list-style-type: none; 
  font-size: 12px; 
} 

#myChartLineHourly {
  padding-bottom: 10px;  
}

.trafficAndMobile {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px; 
}

.trafficAndMobile h3 {
  font-size: 10px; 
  padding-left: 0; 
}

.myChartBar {
  width: 300px; 
}

.wrapperBar,
.wrapperDoughnut {
  border: 1px solid grey;
  align-self: center; 
}

.social-container{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    gap: 2px; 
    padding-left: 15px;  
}

.facebook,
.instagram,
.twitter {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    padding: 0px;
    margin:0; 
    padding-right: 0; 
}

.social-text p,
.social-text h4 {
  font-size:16px;
  padding-top: 8px; 
  padding-left: 2px; 
}

.social-image {
  margin-bottom: 15px; 
  height: 4px; 
  width: 38px; 
  padding-left: 10px;
  padding-top: 30px;
  margin-left: 4px; 
  margin-top: 9px;
  padding-bottom: 5px; 
}

#instagram, 
#facebook,
#twitter {
  transform: translateY(-32px); 
  width: 17px;
  height: 42px;  
}

.newMembersAndRecentActivityTwo {
  grid-template-rows: 14% repeat(4, 99px);
}

.memPhoto {
  padding-left: 10px; 
}

.date {
  padding-top: 40px;
}

.memberTextOne,
.memberText {
  padding-left: 40px; 
  text-align: left; 
  padding-top: 20px; 
}

.memberText {
  width: 450px;  
}

.victoriaOne {
  grid-area: victoriaOne; 
  display: grid;
  grid-template-columns: 7% 70% 23%;
  }

.victoriaTwo {
  grid-area: victoriaTwo; 
  display: grid;
  grid-template-columns: 10% 90%;
  grid-row: auto; 
}

.daleOne {
  grid-area: daleOne;
  display: grid;
  grid-template-columns: 7% 70% 23%;
}

.daleTwo {
  grid-area: daleTwo;
  display: grid;
  grid-template-columns: 10% 90%;
}

.dawnOne {
  grid-area: dawnOne;
  display: grid;
  grid-template-columns: 7% 70% 23%;
}

.dawnTwo {
  grid-area: dawnTwo;
  display: grid;
  grid-template-columns: 10% 90%;
}

.danOne {
  grid-area: danOne;
  display: grid;
  grid-template-columns: 7% 70% 23%;
}

.danTwo {
  grid-area: danTwo; 
  display: grid;
  grid-template-columns: 10% 90%;
} 

.memberPhoto {
  border-radius: 50%; 
  width: 60px; 
  height: 60px; 
  padding-left: 6px; 
}

.settings-button {
  gap: 37px; 
}

.mem {
  border-bottom: 1px solid lightgray; 
}

.sendButton {
  padding-top: 30px; 
}

}/*END MEDIA QUERY FOR 768px____________*/

/* _______________for 1024px__________ */

@media only screen and (min-width: 769px){
  .circle {
    margin-left: 150px;
  }

  .wrapperMembersAndActivity {
    display: grid; 
    grid-template-columns: 50% 50%;
    grid-template-rows: auto; 
    grid-template-areas:
    "newMembersAndRecentActivityOne newMembersAndRecentActivityTwo"
  }

  .newMembersAndRecentActivityOne {
    grid-area: newMembersAndRecentActivityOne;
      grid-template-rows:  repeat(5, 145px);
    }

  .newMembersAndRecentActivityTwo {
    grid-area: newMembersAndRecentActivityTwo;
    grid-template-rows:  repeat(5, 145px);
  }

  .mem {
    padding-bottom: 0px; 
    padding-top: 7px; 
    border: 1px solid lightgray; 
  }

  .recentActivity,
  .newMembers {
    border: 1px solid lightgray; 
  }

  .messageUserSettingsForm {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px; 
    border-right: 1px solid lightgray; 
  }

  .textarea {
    padding-bottom: 35px; 
  }

  .rightCol {
    border-right: 1px solid lightgray;
  }
}
/* End Media Queries */